*{font-size:25px;}
*{background:#bbbbbb;}
niti {color:#ff0000;}
getu {color:#555555;}
ka {color:#ff8c00;}
sui {color:#0000ff;}
moku {color:#00ff00;}
kin {color:#ffd700;}
do {color:#00ffff;}
tokei{font-size:35px;}
